# HDD path
DATA_PATH=/mnt/hdd/docker

# Cloudflare
CLOUDFLARE_TUNNEL_TOKEN=

# Grafana
GRAFANA_ADMIN_PASSWORD=

# Vaultwarden
VAULTWARDEN_ADMIN_TOKEN=

# Ntfy
NTFY_TOPIC=

# Homepage widget credentials
HOMEPAGE_NPM_USER=
HOMEPAGE_NPM_PASS=
HOMEPAGE_BESZEL_USER=
HOMEPAGE_BESZEL_PASS=
HOMEPAGE_GRAFANA_USER=
HOMEPAGE_GRAFANA_PASS=
HOMEPAGE_CF_ACCOUNTID=
HOMEPAGE_CF_TUNNELID=
HOMEPAGE_CF_KEY=
HOMEPAGE_PIHOLE_KEY=
# Test auto-PR flow
# test hook
